<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subwaydle</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <script src="/script.js"></script> -->
</head>
<body>
    <div id="title">
        <h1 id="title-text">Subwaydle</h1>
    </div>

    <div id="instructions">
        <h2 id="instructions-text">Transfer from X to Y using 2 transfers.</h2>
    </div>

    <div id="board">
        <div id="row1" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
        <div id="row2" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
        <div id="row3" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
        <div id="row4" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
        <div id="row5" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
        <div id="row6" class="row">
            <div id="box1" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box2" class="box">
                <div class="board-input"></div>
            </div>
            <div id="box3" class="box">                
                <div class="board-input"></div>
            </div>
        </div>
    </div>

    <div id="keyboard">
        <div id="letters1">
            <button id="letter1" class="letter">
                <div id="A" class="char">A</div>
            </button>
            <button id="letter2" class="letter">
                <div id="B" class="char">B</div>
            </button>
            <button id="letter3" class="letter">
                <div id="C" class="char">C</div>
            </button>
            <button id="letter4" class="letter">
                <div id="D" class="char">D</div>
            </button>
            <button id="letter5" class="letter">
                <div id="E" class="char">E</div>
            </button>
            <button id="letter6" class="letter">
                <div id="F" class="char">F</div>
            </button>
            <button id="letter7" class="letter">
                <div id="G" class="char">G</div>
            </button>
        </div>
        <div id="letters2">
            <button id="letter1" class="letter">
                <div id="J" class="char">J</div>
            </button>
            <button id="letter2" class="letter">
                <div id="L" class="char">L</div>
            </button>
            <button id="letter3" class="letter">
                <div id="M" class="char">M</div>
            </button>
            <button id="letter4" class="letter">
                <div id="N" class="char">N</div>
            </button>
            <button id="letter5" class="letter">
                <div id="Q" class="char">Q</div>
            </button>
            <button id="letter6" class="letter">
                <div id="R" class="char">R</div>
            </button>
            <button id="letter7" class="letter">
                <div id="W" class="char">W</div>
            </button>
            <button id="letter8" class="letter">
                <div id="Z" class="char">Z</div>
            </button>
        </div>
        <div id="numbers">
            <button id="enter">ENTER</button>
            <button id="letter1" class="letter">
                <div id="train1" class="char">1</div>
            </button>
            <button id="letter2" class="letter">
                <div id="train2" class="char">2</div>
            </button>
            <button id="letter3" class="letter">
                <div id="train3" class="char">3</div>   
            </button>        
            <button id="letter4" class="letter">
                <div id="train4" class="char">4</div>
            </button>
            <button id="letter5" class="letter">
                <div id="train5" class="char">5</div>   
            </button>        
            <button id="letter6" class="letter">  
                <div id="train6" class="char">6</div> 
            </button>   
            <button id="letter7" class="letter">
                <div id="train7" class="char">7</div>
            </button>
            <button id="delete">DELETE</button>       
        </div>
    </div>

    <!-- <script th:inline="javascript">
        /*<![CDATA[*/
        var rowColors = /*[[${rowColors}]]*/ [];
        console.log("ROW COLORS: ", rowColors);
        /*]]>*/
    </script> -->
    <script src="/script.js"></script>
</body>
</html>
